<ion-header>
  
  <ion-toolbar style="text-align: center; color:#5e6161; ">
    
    <ion-title><b style="text-align: center; color:#9ad3d0;">Groups Arrangment</b> System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="drinks && drinks.items">
<div style="display: flex; justify-content: center; padding-top: 20px;">
    <ion-card
     style="align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngFor="let drink of Object.keys(drinks.items)"
     (click)="openForm(drinks.items[drink])">
        <ion-card-header>
          <ion-card-title style="text-align: center; color:#5e6161;">{{drinks.items[drink].title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-icon ios="ios-people" md="ios-people"style="zoom:4.0; color:#9ad3d0;"></ion-icon>
        </ion-card-content>
      </ion-card>
    <ion-card
     style="opacity: .4; align-items: center; display: flex; flex-direction: column; cursor: pointer;" 
     *ngIf="auth.can('post:group')"
     (click)="openForm()">
        <ion-card-header>
          <ion-card-title>New Group</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="color:rgb(160, 158, 158); font-size: 256%;">
            <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
